/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

.mailmap
*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

/_build_params

MYMETA.*

/Dreamhack-Solitaire-Medici-*
